---
layout: default
---
<section>
	<div class="flex justify-center text-4xl text-center font-light mt-12">
		<h1>{{ site.title | downcase }}</h1>
	</div>
	<hr class="my-8">
	<nav class="grid grid-cols-1 text-center font-light text-2xl gap-y-4 sm:grid-cols-3 sm:gap-y-0">
		<a class="hover:text-[#347aa5]" href="/">UI/UX design</a>
		<a class="hover:text-[#347aa5]" href="/graphic-design">Graphic design</a>
		<a class="hover:text-[#347aa5]" href="/illustration">Illustration</a>
	</nav>
</section>
{{ content }}


