---
layout: default
---
<article class="mt-12 prose prose-gray prose-base md:prose-lg lg:prose-xl max-w-3xl mx-auto px-4 md:px-0 prose-headings:text-center prose-h1:text-3xl md:prose-h1:text-4xl prose-h1:font-medium prose-h1:mb-0 prose-h2:text-lg md:prose-h2:text-xl prose-h2:font-normal prose-h2:m-0 prose-h2:mt-4 prose-h3:font-medium prose-strong:font-medium">
	<div class="mb-12">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}
		<h2>{{ page.subtitle }}</h2>
		{% endif %}
	</div>
	{{ content }}
</article>

<div class="flex justify-center my-12">
	<a class="underline underline-offset-4 decoration-dotted px-1 py-0.5" href="{{ page.back_url | default: '/' }}"><span class="leading-none text-xl">↖</span> Go back to home page</a>
</div>
